<p>eventbinding works!</p>

<h1 class="p-4 bg-danger text-white text-center">Event Binding in Angular 10</h1>
<div class="container mt-5">

    
    <!-- <input type="text" name=""  [value]='val' class="form-control"> -->
    <input type="text" name=""  [value]='val' class="form-control">
   <h2> {{val}}</h2>

    <br><br>

    <button class="btn btn-success btn-lg" (click)='myFun()'>Submit Form</button>
    <br><br>
    

</div> 
<input type="text" #titleInput class="form-control [value]='myname'">
<h2> {{myname}}</h2>
<button type="button" (click) = "showText(titleInput.value)" class="btn btn-primary">Show  value!</button>