  <!-- <app-home></app-home> -->
<!-- <app-side1></app-side1>
<app-side2></app-side2>
<app-side3></app-side3>
<app-footer></app-footer> -->  
 <!-- <app-interpolation></app-interpolation> -->

<!--  <app-propertybinding></app-propertybinding>  -->
<!-- <app-stylebinding></app-stylebinding> -->
<!--  <app-classbinding></app-classbinding>  -->
<!-- <app-attributebinding></app-attributebinding> -->
 <!-- <app-eventbinding></app-eventbinding> -->
 <!-- <app-event></app-event> -->
<!--  <app-twobaybinding></app-twobaybinding>  -->
<!-- <app-templaterefrshvariale></app-templaterefrshvariale> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngfor></app-ngfor> -->
 <!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-practice></app-practice> -->