<br><br>


<button (click)="showText('this is click event')">show</button>

<br><br>

<!-- <input type="text" (keyup)="showText('keyup event')" >
<br><br> -->
 
<!-- <input type="text" #box (keyup.enter)="showText(box.value)" >
<br><br> -->
<!-- <input type="text" #box (keyup.space)="showText(box.value)" >
<br><br> -->
<!-- <input type="text" #box (keydown)="showText(box.value)" >
<br><br> -->
<!-- <input type="text" (blur)="showText('blur event')" >
<br><br> -->
<br><br>
<div (mouseover)="showText('Mouse in')" class="bg-info">
    
    Mouse Event
</div>
<br><br>
<div (mouseleave)="showText('Mouse out')" class="bg-primary">
    
    Mouse Event
</div>